@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Sedgwick+Ave+Display&display=swap');

.cabecalho {
    background-color: #fdf9ef;
    color: red;
    margin: 0px;
    border: 1px solid;
    border-color: black;
    text-align: center;
    border-radius: 10px;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
}

h1, h2 {
    color: #444;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}






nav {
    position: absolute;
    right: 0;
    top: 0;
}

nav a {
    position: relative;
    display: inline-block;
    margin: 15px 25px;
    outline: none;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    font-size: 1em; /* Diminui o tamanho da fonte */
}

nav a:hover, nav a:focus {
    outline: none;
}

.blob-button {
    overflow: hidden;
    transition: all 2s ease;
}

.blob-button:hover {
    background: red;
}

.blob-button span {
    position: relative;
    display: block;
}

.blob-button::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-color: #3498db;
    transition: all 2s ease;
    transform: translate(100%, -100%) rotate(100deg);
}

.blob-button:hover::before {
    transform: translate(0, 0) rotate(0deg);
}







.logo {
    max-width: 120px;
    height: auto;
    margin-left: 20px;
}

.titulo {
    font-family: 'Dancing Script', cursive;
    font-size: 34px;
}

.frase {
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
    margin: 5px;
}

.aviso {
    margin: 10px;
    color: #fdf9ef;
}

.intro {
    font-size: 1.5rem;
}

.options {
    border: 1px solid;
    margin: 50px;
    padding: 10px;
    
}

.options-2 {
    font-size: 3rem;
    text-align: center;
    color: red;
    font-family: 'Dancing Script', cursive;
    
}

.options-3 {
    font-size: 1.5rem;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image-container {
    margin: 10px;
    text-align: center;
}

.image-container img {
    width: 500px;
    height: 500px;
}

.preco {
    font-family: 'Lobster', sans-serif;
    font-size: 2rem;
    color: red;
}

.button {
    width: 200px;
    height: 50px;
    font-size: 35px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
    
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
}

body {
    background-color:#be201c;
}
main {
    background-image: url('IMG/fundo.png');
    margin-top: 20px;
    border: 1px solid;
    border-radius: 10px;
}

footer {
    color: #fdf9ef;
    background-color: #fdf9ef;
    margin-top: 20px ;
    border: 1px solid;
    border-color: black;
    border-radius: 10px;
    text-align: center;

}

p {
    margin-left: 30px;
    margin-top: 15px;
    margin-right: 30px;
}

